




    <!-- trending -->
    <section class="home-search-trending">
        <div class="container">
            <div class="search-trending-block">
                <!-- title -->
                <div class="block-head">
                    <div class="head-title">Xu hướng tìm kiếm</div>
                </div>
                <!-- trend -->
                <div class="block-body">
                    <div class=" px-3 py-2">
                        <div class="row mb-3">
                            <div class="col mx-2 p-1 item-col">
                                <a href="" class="search-trending-item">
                                    <div class="img-col">
                                        <img  src="img/Hamilton.jpg" alt="">
                                    </div>
                                    <div class="info-col">
                                        <div class="keyword-label">Đồng hồ Hamilton</div>
                                        <div class="total-search">1K lượt tìm</div>
                                    </div>
                                    
                                </a>
                            </div>
                            <div class="col mx-2 p-1 item-col">
                                <a href="" class="search-trending-item">
                                    <div class="img-col">
                                        <img  src="img/canon.jpg" alt="">
                                    </div>
                                    <div class="info-col">
                                         <div class="keyword-label">Máy ảnh Canon</div>
                                        <div class="total-search">1K lượt tìm</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col mx-2 p-1 item-col">
                                <a href="" class="search-trending-item">
                                    <div class="img-col">
                                        <img  src="img/decor.jpg" alt="">
                                    </div>
                                    <div class="info-col">
                                        <div class="keyword-label">Trang trí nhà cửa</div>
                                        <div class="total-search">1K lượt tìm</div>
                                    </div>
                                    
                                </a>
                            </div>
                            <div class="col mx-2 p-1 item-col">
                                <a href="" class="search-trending-item">
                                    <div class="img-col">
                                        <img  src="img/Apple.jpg" alt="">
                                    </div>
                                    <div class="info-col">
                                         <div class="keyword-label">Đồng hồ Apple 4</div>
                                        <div class="total-search">1K lượt tìm</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col mx-2 p-1 item-col">
                                <a href="" class="search-trending-item">
                                    <div class="img-col">
                                        <img  src="img/Airpods.jpg" alt="">
                                    </div>
                                    <div class="info-col">
                                        <div class="keyword-label">Airpods</div>
                                        <div class="total-search">1K lượt tìm</div>
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                        <div class="row ">
                            <div class="col mx-2 p-1 item-col">
                                <a href="" class="search-trending-item">
                                    <div class="img-col">
                                        <img  src="img/Dien_tu.jpg" alt="">
                                    </div>
                                    <div class="info-col">
                                         <div class="keyword-label">Đồ điện tử</div>
                                        <div class="total-search">1K lượt tìm</div>
                                    </div>
                                   
                                </a>
                            </div>

                            <div class="col mx-2 p-1 item-col">
                                <a href="" class="search-trending-item">
                                    <div class="img-col">
                                        <img  src="img/coffee.jpg" alt="">
                                    </div>
                                    <div class="info-col">
                                        <div class="keyword-label">Máy pha cà phê</div>
                                        <div class="total-search">1K lượt tìm</div>
                                    </div>
                                </a>
                            </div>

                            <div class="col mx-2 p-1 item-col">
                                <a href="" class="search-trending-item">
                                    <div class="img-col">
                                        <img  src="img/smart.jpg" alt="">
                                    </div>
                                    <div class="info-col">
                                        <div class="keyword-label">Thiết bị thông minh</div>
                                        <div class="total-search">1K lượt tìm</div>
                                    </div>
                                </a>
                            </div>

                            <div class="col mx-2 p-1 item-col">
                                <a href="" class="search-trending-item">
                                    <div class="img-col">
                                        <img  src="img/smart-house.jpg" alt="">
                                    </div>
                                    <div class="info-col">
                                        <div class="keyword-label">Nhà thông minh</div>
                                        <div class="total-search">1K lượt tìm</div>
                                    </div>
                                </a>
                            </div>

                            <div class="col mx-2 p-1 item-col">
                                <a href="" class="search-trending-item">
                                    <div class="img-col">
                                        <img  src="img/laptop.jpg" alt="">
                                    </div>
                                    <div class="info-col">
                                        <div class="keyword-label">Laptop</div>
                                        <div class="total-search">1K lượt tìm</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- home middle -->
    <section class="home-middle">
        <div class="container d-flex ">
            <a href="" class="bner-item mx-2 ">
                <img src="img/bner_1.jpg" class="bner-item-img" alt="">
            </a>
            <a href="" class="bner-item mx-2 ">
                <img src="img/bner_2.jpg" class="bner-item-img" alt="">
            </a>
        </div>
    </section>





